html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif !important;
  font-weight: 1;
  -moz-osx-font-smoothing: grayscale;
}
